@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0; }
  * body {
    color: #233545;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer"; }
    * body header {
      width: 100%;
      grid-area: header; }
      * body header .box-nav {
        background-color: white;
        padding: 0 0; }
        * body header .box-nav .box-title {
          margin-top: 20px; }
        * body header .box-nav .header__title {
          text-align: center;
          margin: 20px 0 20px 0;
          font-size: 35px;
          color: #233545;
          font-family: 'Gentium Book Plus', serif;
          font-weight: 900; }
        * body header .box-nav .box-container {
          margin: -20px -12px; }
        * body header .box-nav .box-buttons {
          text-align: end; }
          * body header .box-nav .box-buttons .offcanvas-title {
            font-weight: 900; }
          * body header .box-nav .box-buttons .canva-title {
            font-family: 'Gentium Book Plus', serif; }
        * body header .box-nav li {
          text-align: start; }
        * body header .box-nav li .btn1 {
          color: black;
          border: none;
          font-family: 'Poppins', sans-serif;
          font-size: 17px;
          margin-right: 20px; }
        * body header .box-nav li .btn1:hover {
          background-color: white;
          color: #22B6AF !important; }
        * body header .box-nav li .btn1:focus {
          box-shadow: none !important;
          background-color: white;
          color: #22B6AF; }
        * body header .box-nav li .btn2 {
          color: white;
          background-color: #22B6AF;
          border: none;
          font-family: 'Poppins', sans-serif;
          font-size: 17px;
          border-radius: 50px;
          padding: 10px 35px;
          margin-right: 40px; }
        * body header .box-nav li .btn2:hover {
          background-color: #233545; }
        * body header .box-nav li .btn2:focus {
          box-shadow: none !important;
          background-color: #233545; }
        @media only screen and (max-width: 991px) {
          * body header .box-nav li .btn1 {
            margin: 10px; }
          * body header .box-nav li .btn2 {
            margin-top: 10px; } }
    * body main {
      grid-area: main; }
      * body main .presentation {
        margin-top: 90px;
        width: 100%;
        height: 700px;
        background: url("../img/1.png");
        background-repeat: no-repeat;
        background-size: cover; }
        * body main .presentation .box {
          position: absolute;
          width: 460px;
          margin-top: 150px;
          margin-left: 160px; }
          * body main .presentation .box .img-atoms {
            margin-left: 70px;
            margin-bottom: 20px; }
            * body main .presentation .box .img-atoms .replaced-modified {
              box-sizing: border-box;
              display: block;
              width: 99px;
              height: 113px;
              background: url(../img/1.1.png); }
          * body main .presentation .box .p1 {
            font-family: 'Poppins';
            font-size: 21px;
            letter-spacing: 0.01em; }
          * body main .presentation .box .p2 {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 1.5%;
            color: #22B6AF; }
            * body main .presentation .box .p2 .p3 {
              color: #233545; }
      @media only screen and (max-width: 547px) {
        * body main .presentation {
          height: 350px;
          margin-top: 90px;
          margin-bottom: -30px;
          width: 100%;
          background: url("../img/1.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: -10px -30px; }
          * body main .presentation .box {
            position: absolute;
            height: 450;
            width: 200px;
            margin-top: 50px;
            margin-left: 30px; }
            * body main .presentation .box .img-atoms {
              margin-left: 20px;
              margin-bottom: 10px; }
              * body main .presentation .box .img-atoms .replaced-modified {
                box-sizing: border-box;
                display: block;
                width: 50px;
                height: 56px;
                background: url(../img/1.1M.png); }
            * body main .presentation .box .p1 {
              font-family: 'Poppins';
              letter-spacing: 0.01em;
              font-size: 10px;
              line-height: 14px; }
            * body main .presentation .box .p2 {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 700;
              font-size: 21px;
              line-height: 20px;
              color: #22B6AF; }
              * body main .presentation .box .p2 .p3 {
                color: #233545; } }
      * body main .presentation2 {
        height: 400px; }
        * body main .presentation2 .row {
          width: 100%; }
          * body main .presentation2 .row .img-certificate .replaced-modified {
            position: relative;
            bottom: 134px;
            left: 112px;
            box-sizing: border-box;
            display: block;
            width: 716px;
            height: 519px;
            background: url(../img/2.1.png); }
          * body main .presentation2 .row .paragraph {
            height: 300px;
            display: flex;
            margin-right: 100px;
            justify-content: center; }
            * body main .presentation2 .row .paragraph .box {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 245px; }
              * body main .presentation2 .row .paragraph .box .certificate {
                margin-bottom: 15px; }
              * body main .presentation2 .row .paragraph .box p {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 24px;
                line-height: 26px; }
      @media screen and (max-width: 767px) {
        * body main .presentation2 .row .img-certificate {
          max-height: 200px; }
          * body main .presentation2 .row .img-certificate .replaced-modified {
            left: 0;
            bottom: 109.5px;
            box-sizing: border-box;
            display: block;
            width: 587px;
            height: 425px;
            background: url(../img/2.1P.png); }
        * body main .presentation2 .row .paragraph {
          justify-content: center;
          padding-left: 170px; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        * body main .presentation2 .row .img-certificate {
          max-height: 250px; }
          * body main .presentation2 .row .img-certificate .replaced-modified {
            left: 30px; }
        * body main .presentation2 .row .paragraph {
          justify-content: center;
          padding-left: 200px; } }
      @media screen and (min-width: 1024px) and (max-width: 1110px) {
        * body main .presentation2 .row .img-certificate {
          max-height: 250px; }
          * body main .presentation2 .row .img-certificate .replaced-modified {
            left: 150px; }
        * body main .presentation2 .row .paragraph {
          justify-content: center;
          padding-left: 180px; } }
    * body footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      grid-area: footer; }
      * body footer .footer__paragraph {
        background-color: #233545;
        color: white;
        margin: 0; }
