@import "./variables.scss";

.courses-2 {
    width: 100%;
    height: 700px;
    background: url("../img/4.0.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    .row {
        width: 100%;

        .col {
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .training {
            align-items: flex-end;

            .box {
                background-color: white;
                width: 349px;
                height: 521px;
                border-radius: 30px;
                margin-right: 5%;

                .front-page {
                    width: 100%;
                    height: 188px;
                    background: url("../img/4.1.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .box2 {
                    min-width: 349px;
                    height: 333px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .title {
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 25px;
                        width: 300px;
                        margin-left: 45px;
                    }

                    .p1 {
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        width: 250px;
                    }

                    .btn2 {
                        color: white;
                        background-color: $color-2;
                        border: none;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        border-radius: 50px;
                        padding: 10px 80px;

                        text-align: center;
                        letter-spacing: 0.01em;
                    }

                    .btn2:hover {
                        background-color: $color-1;
                    }

                    .btn2:focus {
                        box-shadow: none !important;
                        background-color: $color-1;
                    }

                }
            }

        }

        .featured-course {
            .box {
                width: 370px;
                margin-left: 5%;

                .title {
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 26px;
                    letter-spacing: 0.015em;

                    color: $color-2;
                }

                .paragraph {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    margin-left: 0px !important;
                }
            }

        }
    }
}

@media screen and (max-width: 426px) {

    .courses-2 {
        .row {

            .training {

                .box {
                    width: 269px !important;

                    .box2 {
                        min-width: 269px !important;
                        margin-top: 25px;

                        .title {
                            font-size: 15px;
                            line-height: 25px;
                            width: 250px;
                            margin-left: 10px;
                        }

                        .p1 {
                            font-size: 13px;
                            line-height: 24px;
                            width: 250px;
                            margin-left: 15px;
                        }

                        .p2 {
                            width: 230px !important;
                        }

                        .btn2 {
                            font-size: 15px;
                            padding: 10px 50px;

                            text-align: center;
                            letter-spacing: 0.01em;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 769px) {
    .courses-2 {
        height: 800px;

        .row {
            .training {
                padding-top: 20px;
                padding-right: 0px;
                padding-left: 0px;
                height: 800px;
                align-items: center;

                .title-box::after {
                    font-weight: bold;
                    color: $color-2;

                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 16px;

                    content: "Curso destacado";
                }

                .box {
                    width: 349px;
                    height: 700px;
                    border-radius: 30px;
                    margin-left: 20px;
                    margin-right: 0px;


                    .box2 {
                        height: 511px;

                        .p1 {
                            font-weight: 600;
                            font-size: 13px;
                        }

                        .p2 {
                            width: 250px;
                        }

                        .p2::after {
                            font-family: 'Poppins';
                            font-weight: 400;
                            line-height: 24px;
                            font-size: 13px;
                            content: "Creamos un entrenamiento exclusivo en AAS, diseñado para que aprendas y potencies tus conocimientos en una de las técnicas instrumentales más utilizadas en la industria. El modelo es asíncrono Clases en vivo (Remoto) y Sesiones presenciales en Laboratorio";

                        }
                    }
                }
            }

            .featured-course {
                display: none
            }
        }
    }
}