@import "./variables.scss";

.presentation2 {
    height: 400px;

    .row {

        .img-certificate {

            .replaced-modified {
                position: relative;
                bottom: 134px;
                left: 112px;

                box-sizing: border-box;
                display: block;
                width: 716px;
                height: 519px;
                background: url(../img/2.1.png);
            }
        }

        .paragraph {
            height: 300px;
            display: flex;
            justify-content: center;
            margin-right: 100px;

            .box {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 245px;

                .certificate {
                    margin-bottom: 15px;
                }

                p {
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 26px;
                }
            }
        }
    }
}