@import "./variables.scss";
@import "./test.scss";


* {
    margin: 0;
    padding: 0;

    body {
        color: $color-1;
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";

        header {
            width: 100%;
            grid-area: header;

            .box-nav {
                background-color: white;
                padding: 0 0;
                display: flex;
                justify-content: space-evenly;

                .box-title {
                    margin-top: 20px;
                }

                .header__title {
                    text-align: left;
                    margin: 20px 0 20px 23%;
                    font-size: 35px;
                    color: $color-1;
                    font-family: 'Gentium Book Plus', serif;
                    font-weight: 900;
                }

                .box-buttons {
                    text-align: end;

                    .offcanvas-title {
                        font-weight: 900;
                    }

                    .canva-title {
                        font-family: 'Gentium Book Plus', serif;
                    }
                }

                li {
                    text-align: start;
                }

                li .btn1 {
                    color: black;
                    border: none;
                    font-family: 'Poppins', sans-serif;
                    font-size: 17px;
                    margin-right: 20px;
                }

                li .btn1:hover {
                    background-color: white;
                    color: $color-2  !important;
                }

                li .btn1:focus {
                    box-shadow: none !important;
                    background-color: white;
                    color: $color-2;
                }

                li .btn2 {
                    color: white;
                    background-color: $color-2;
                    border: none;
                    font-family: 'Poppins', sans-serif;
                    font-size: 17px;
                    border-radius: 50px;
                    padding: 10px 35px;
                    margin-right: 40px;
                }

                li .btn2:hover {
                    background-color: $color-1;
                }

                li .btn2:focus {
                    box-shadow: none !important;
                    background-color: $color-1;
                }

                @media only screen and (max-width: 991px) {

                    li .btn1 {
                        margin: 10px;
                    }

                    li .btn2 {
                        margin-top: 10px;
                    }

                }
            }
        }

        .section__presentacion {
            margin-top: 80px;
            position: relative;

            .presentacion__bkg {
                display: flex;
                align-items: center;
                background-image: url("../img/1.png");
                width: 100%;
                height: 360px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: 30%;
                background-position-y: 25%;
            }

            .presentacion__texto {
                width: 60%;
                padding-left: 20px;

                >picture {
                    margin-left: 20px;
                }

                >h6 {
                    font-family: 'Pop-ligth';
                    font-size: 12px;
                }

                >h1 {
                    font-family: 'Pop-Bold';
                    font-size: 24px;
                    color: $color-2;
                    line-height: 1;

                    >span {
                        color: $color-1;
                    }
                }

                >p {
                    font-family: 'Pop-Regular';
                    font-size: 14px;
                }
            }

            .diploma__container {
                padding-bottom: 150px;
                position: relative;

                .presentacion__diploma {

                    >img {
                        box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.09);
                        width: 280px;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        bottom: -2px;
                    }
                }
            }

            .diploma__container--desktop {
                .diploma--desktop {
                    display: none;
                }

                .presentacion__certificate {
                    margin: 30px 30%;
                    > picture {
                        > img {
                            width: 25px;
                        }
                    }
                    >p {
                        margin-top: 5px;
                        font-family: 'Pop-mediun';
                        font-size: 16px;
                        line-height: 1.1;

                        >span {
                            font-weight: bold;
                        }
                    }
                }
            }


            .presentacion__clases {
                margin-top: 50px;
                background: linear-gradient(0deg, rgba(0,0,0,0.008841036414565795) 0%, rgba(0,0,0,0.03405112044817926) 100%);
                .clases__container {
                    position: relative;
                    top: -20px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    >picture {
                        display: flex;
                        justify-content: center;
                    }

                    .clases__img {
                        min-width: 280px;

                    }
                }

                .presentacion__clasesHibridas {
                    margin: 30px 30%;
                    > picture {
                        > img {
                            width: 25px;
                        }
                    }
                    >p {
                        margin-top: 5px;
                        font-family: 'Pop-Regular';
                        font-size: 13px;
                        line-height: 1.2;
                        margin-bottom: 0;
                        >span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .section__nosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;

            .nosotros__bkg {
                background-image: url("../img/nosotros.png");
                background-position: center;
                width: 100%;
                height: 190px;
                background-size: cover;

                .nosotros__head {
                    margin-right: 40%;
                    margin-top: 10px;
                    margin-left: 20px;
                }

                .nosotros__h3 {
                    font-family: 'Pop-SemiBold';
                    color: $color-2;
                    font-size: 16px;
                }

                .nosotros__p {
                    font-family: 'Pop-ligth';
                    line-height: 1.3;
                    font-size: 13px;
                }

                .nosotros__vector--desktop {
                    display: none;
                }
            }

            .nosotros__acercaDe {
                position: relative;
                margin: 40px 95px 20px 95px;
                padding: 13px 25px 13px 25px;
                background-color: white;
                box-shadow: $box-shadowContainers;
                border-radius: 15px;
                z-index: 2;

                .nosotros__conocimiento {
                    font-family: 'Pop-mediun';
                    font-size: 13px;

                    .nosotros__conocimiento--lb {
                        color: $color-2;
                        font-weight: bold;
                    }

                    >p {
                        margin: 0;
                        text-align: center;
                        line-height: 1.3;
                    }
                }

                .nosotros__vector--mobile {
                    width: 37px;
                    position: absolute;
                    top: -28px;
                    left: 50%;
                    transform: translate(-50%);
                }
            }

            .nosotros__buscamos {
                background-color: white;
                z-index: 1;

                .nosotros__imgFiltrado {
                    display: none;
                }

                .buscamos__container {
                    margin: 35px 25% 30px 25%;
                    display: flex;
                    flex-direction: row;
                    position: relative;

                    .nosotros__vline {
                        background-color: #F4F4F4;
                        width: 7.5px;
                        height: 95%;
                        border-radius: 30px;
                        position: absolute;

                        &:after {
                            position: absolute;
                            content: "";
                            background-color: #C2EA49;
                            width: 8px;
                            height: 45%;
                            border-radius: 30px;
                        }
                    }

                    .buscamos__haremos {
                        display: flex;
                        flex-direction: column;
                        margin-left: 25px;

                        >h4 {
                            font-family: 'Pop-SemiBold';
                            font-size: 17px;
                        }

                        >p {
                            font-family: 'Pop-ligth';
                            font-size: 12px;
                            line-height: 1.2;
                        }
                    }
                }
            }

            .nosotros__practica {
                margin: 40px 25px 20px 25px;
                padding: 18px 2px 0 2px;
                box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: row;
                overflow: hidden;
                border-radius: 15px;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-end;

                >img {
                    max-width: 120px;
                }

                .practica__r {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    >img {
                        width: 22px;
                    }

                    >h5 {
                        font-family: Pop-mediun;
                        font-size: 14px;
                        color: $color-2;
                        margin: 3px 0;
                    }

                    >p {
                        font-family: Pop-ligth;
                        font-size: 12px;
                        line-height: 1.1;
                    }
                }
            }

            .nosotros__beneficios {
                display: flex;
                flex-direction: column;
                align-items: center;

                >h5 {
                    font-family: Pop-SemiBold;
                    font-size: 17px;
                    margin: 30px 0 25px 0;
                }

                .beneficios__card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 20% 10px 20%;
                    text-align: center;

                    >img {
                        width: 22px;
                    }

                    >h6 {
                        font-family: Pop-SemiBold;
                        font-size: 17px;
                        color: $color-2;
                        margin: 5px 0;
                    }

                    >p {
                        font-size: 15px;
                        line-height: 1.1;
                    }
                }

                .beneficios__card--desktop {
                    display: none;
                }
            }
        }

        .nosotros__container {
            padding: 70px 0 60px 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.008841036414565795) 0%, rgba(241, 241, 241, 1) 100%);
            position: relative;

            .nosotros__card1 {
                background-color: white;
                display: flex;
                flex-direction: row;
                margin: 0 7%;
                position: relative;
                font-family: 'Pop-mediun';
                border-radius: 15px;
                box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.06);

                .card1__r {
                    width: 60%;
                    font-size: 13px;
                    padding: 15px 0 15px 20px;
                    z-index: 1;
                    >p {
                        margin-bottom: 10px;
                    }

                    .card1__number {
                        display: flex;
                        align-items: flex-start;
                        color: $color-2;
                        font-size: 15px;

                        >p {
                            margin: 0;
                        }

                        >img {
                            width: 18px;
                            margin-right: 15px;
                        }
                    }
                }
            }

            .card1__guy {
                transform: scaleX(-1);
                width: 180px;
                align-self: center;
                position: absolute;
                right: 0px;
                bottom: 0;
            }

            .nosotros__labs {
                >h6 {
                    font-family: 'Pop-SemiBold';
                    font-size: 13px;
                    text-align: center;
                    margin-top: 70px;
                    margin-bottom: 20px;
                }

                .labs__brands {
                    background-color: rgb(255, 255, 255);
                    padding: 20px 0;
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    justify-content: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    >picture {
                        transform: scale(70%);
                    }
                }
            }

            .nosotros__card2 {
                position: absolute;
                background-color: white;
                display: flex;
                box-shadow: none;
                flex-direction: row-reverse;
                border-radius: 15px;
                align-items: center;
                padding: 8px 10px;
                width: 70%;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -50px;

                .car2__logoContainer {
                    width: 50%;
                    display: flex;
                    justify-content: center;

                    >picture {
                        >img {
                            width: 85px;
                        }
                    }
                }

                .card2__r {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .card2__pB {
                        font-family: 'Pop-SemiBold';
                        font-size: 13px;
                        margin: 0;
                    }

                    .card2__pR {
                        font-family: 'Pop-mediun';
                        font-size: 13px;
                        margin: 0;
                    }
                }
            }
        }

        .courses {
            @import "courses";
            @import "courses2";
        }



        footer {
            text-align: center;
            color: white;
            font-family: 'Roboto-regular';
            letter-spacing: 1.2px;

            .footer__container {
                height: 200px;
                background-color: $color-2;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .footer__contactanos {
                    margin-top: 20px;

                    >h5 {
                        font-size: 13px;
                        margin-bottom: 20px;

                    }

                    >p {
                        font-size: 13px;
                        font-family: 'Roboto-bold';
                    }
                }

                .footer__seguinos {
                    >h5 {
                        font-size: 13px;
                    }

                    .footer__redes {
                        >a {
                            text-decoration: none;

                            >img {
                                width: 37px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1023px) {
    * {
        body {

            .section__presentacion {
                .presentacion__bkg {
                    height: 100vh;
                }

                .presentacion__texto {
                    width: 40%;
                    padding-left: 180px;

                    >picture {
                        margin-left: 90px;
                    }

                    >h6 {
                        margin-top: 20px;
                        font-size: 23px;
                    }

                    >h1 {
                        font-size: 43px;
                    }

                    >p {
                        font-size: 26px;
                    }
                }

                .diploma__container {
                    display: none;
                }

                .diploma__container--desktop {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .diploma--desktop {
                        top: -38px;
                        position: relative;
                        display: block;
                        width: 500px;
                    }

                    .presentacion__certificate {
                        margin: 30px;
                        width: 25%;
                        > picture {
                            margin: 5px;
                            > img {
                                width: 40px;
                            }
                        }
                        >p {
                            margin-top: 5px;
                            font-family: 'Pop-mediun';
                            font-size: 27px;
                            line-height: 1.1;

                            >span {
                                font-weight: bold;
                            }
                        }
                    }
                }
                .presentacion__clases {
                    .clases__container {
                        top: -20px;
                        justify-content: space-evenly;
                        flex-direction:row-reverse;
                        >picture {
                            display: flex;
                            justify-content: center;
                        }

                        .clases__img {
                            width: 500px;
    
                        }
                    }
    
                    .presentacion__clasesHibridas {
                        margin: 0;
                        width: 27%;
                        > picture {
                            margin: 5px;
                            > img {
                                width: 40px;
                            }
                        }
                        >p {

                            font-family: 'Pop-Regular';
                            font-size: 20px;
                            line-height: 1.2;
                            margin: 0;
                            >span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .section__nosotros {
                position: relative;
                .nosotros__bkg {
                    height: 600px;
                    position: relative;
                    background-repeat: no-repeat;

                    .nosotros__head {
                        margin-right: 60%;
                        margin-top: 190px;
                        margin-left: 150px;
                    }

                    .nosotros__h3 {
                        font-size: 27px;
                    }

                    .nosotros__p {
                        font-size: 19px;
                        line-height: 1.3;
                    }

                    .nosotros__vector--desktop {
                        display: block;
                        width: 80px;
                    }
                }

                .nosotros__acercaDe {
                    position: absolute;
                    width: 470px;
                    top: 500px;
                    left: 70%;
                    transform: translate(-70%);
                    padding: 18px 20px 8px 20px;

                    .nosotros__conocimiento {
                        font-size: 24px;
                    }

                    .nosotros__vector--mobile {
                        display: none;
                    }
                }

                .nosotros__buscamos {
                    margin-top: 140px;
                    margin-bottom: 50px;
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    justify-content: space-between;
                    align-items: flex-start;

                    .nosotros__imgFiltrado {
                        display: block;
                        width: 190px;
                        margin-right: 24%;
                    }

                    .buscamos__container {
                        margin: 0 0 100px 150px;
                        width: 50%;
                        padding-right: 15%;

                        .nosotros__vline {
                            &:after {
                                background-color: #22B6AF;
                            }
                        }

                        .buscamos__haremos {
                            margin-left: 40px;

                            >h4 {
                                font-size: 27px;
                            }

                            >p {
                                font-size: 21px;
                                margin-bottom: 40px;
                            }
                        }
                    }
                }

                .nosotros__practica {
                    margin: 40px 25px 20px 25px;
                    box-shadow: 0px -150px 100px 200px rgba(0, 0, 0, 0.050);
                    overflow: visible;
                    width: 70%;
                    position: relative;
                    justify-content: flex-end;

                    >img {
                        max-width: 270px;
                        position: absolute;
                        left: 40px;
                    }

                    .practica__r {
                        padding: 10px 60px 20px 0px;

                        >img {
                            width: 35px;
                            margin-bottom: 5px;
                        }

                        >h5 {
                            font-size: 27px;
                        }

                        >p {
                            font-size: 21px;
                        }
                    }
                }

                .nosotros__beneficios {
                    align-items: flex-start;
                    width: 67%;
                    height: 950px;


                    .beneficios__cardContainer {
                        display: flex;
                        align-items: flex-start;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    >h5 {
                        font-size: 27px;
                        margin: 50px 0 20px 0;
                    }

                    .beneficios__card {
                        align-items: flex-start;
                        margin: 10px 0;
                        text-align: left;
                        width: 36%;

                        >img {
                            width: 28px;
                            margin: 5px 0 10px 0;
                        }

                        >h6 {
                            font-size: 27px;
                        }

                        >p {
                            font-size: 21px;
                        }
                    }

                    .beneficios__card--desktop {
                        display: block;
                        margin: 10px 0;
                        width: 36%;

                        >img {
                            margin: 5px 0 10px 0;
                            width: 35px;
                        }

                        >p {
                            font-family: 'Pop-SemiBold';
                            margin: 10px 0;
                            font-size: 26px;
                            line-height: 1.1;
                        }

                        .potencia__span {
                            color: $color-2;
                        }
                    }
                }
            }

            .nosotros__container {
                padding-top: 200px;
                padding-bottom: 150px;

                .nosotros__card1 {
                    margin: 0 15%;

                    .card1__r {
                        width: 50%;
                        font-size: 25px;
                        padding: 50px 0 50px 70px;
                        ;

                        .card1__number {
                            font-size: 25px;
                            align-items: center;

                            >img {
                                width: 25px;
                                margin-right: 15px;
                            }
                        }
                    }

                    .card1__guy {
                        width: 450px;
                        right: 20px;
                    }
                }

                .nosotros__labs {
                    >h6 {
                        font-size: 26px;
                    }
                }

                .nosotros__card2 {
                    width: 60%;
                    bottom: -80px;

                    .car2__logoContainer {
                        width: 50%;
                        display: flex;
                        justify-content: center;

                        >picture {
                            >img {
                                width: 150px;
                            }
                        }
                    }

                    .card2__r {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        .card2__pB {
                            font-family: 'Roboto-bold';
                            font-size: 20px;
                            margin: 0;
                        }

                        .card2__pR {
                            font-family: 'Roboto-regular';
                            font-size: 20px;
                            margin: 0;
                        }
                    }
                }
            }

            footer {
                .footer__container {
                    padding: 200px 0 100px 0;
                    justify-content: space-evenly;

                    .footer__contactanos {
                        display: flex;

                        >h5 {
                            font-size: 17px;
                            margin-right: 15px;
                        }

                        >p {
                            font-size: 17px;
                        }
                    }

                    .footer__seguinos {
                        display: flex;
                        align-items: center;
                        margin: 0;

                        >h5 {
                            font-size: 17px;
                            margin: 0 15px 0 0;
                        }

                        .footer__redes {
                            >a {
                                >img {
                                    width: 45px;
                                    transition: width 0.2s;

                                    &:hover {
                                        width: 55px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}


@media only screen and (min-width: 1320px) {
    .nosotros__beneficios {
        max-height: 750px;
    }
}