body, html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    width: 100%;
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    width: 100%;
    grid-area: footer;
}

.header__title {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 60px;
    color: rgb(49, 53, 130);
}

.footer__paragraph {
    height: 100%;
    background-color: rgb(49, 53, 130);
    color: white;
}