@import "./variables.scss";

* {
    margin: 0;
    padding: 0;

    body {

        min-height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";

        header {
            width: 100%;
            grid-area: header;

            .header__title {
                text-align: center;
                margin: 20px 0 20px 0;
                font-size: 60px;
                color: $color-1;
            }
        }

        main {
            width: 100%;
            grid-area: main;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            grid-area: footer;

            .footer__paragraph {
                background-color: $color-1;
                color: white;
                margin: 0;
            }
        }
    }

}