@import "./variables.scss";

body {

    main {

        .background {

            background-image: url("../../img/training/background.png");
            width: 100%;
            height: 700px;
            background-size: cover;
            background-repeat: no-repeat;

            margin-top: 92px;

            .row {
                display: flex;
                align-items: flex-end;

                width: 100%;
                height: 80%;

                .col {
                    display: flex;
                    justify-content: center;
                }

                .paragraph {

                    .box {
                        max-width: 456px;
                        margin-left: 20%;

                        .p1 {
                            font-family: 'Pop-Bold';
                            font-size: 40px;
                            line-height: 40px;
                            letter-spacing: 0.015em;

                            span {
                                color: $color-2;
                            }
                        }

                        .p2 {
                            font-family: 'Pop-Regular';
                            font-size: 18px;
                            line-height: 24px;
                        }

                    }

                }

                .buttons {

                    .box {

                        .btn2 {
                            color: white;
                            background-color: $color-2;
                            border: none;
                            font-family: 'Pop-mediun';
                            font-size: 21px;
                            border-radius: 20px;
                            padding: 17px 52px;
                            margin-right: 10px;
                            line-height: 26px;
                            letter-spacing: 0.01em;
                        }

                        .btn2:hover {
                            background-color: $color-1;
                        }

                        .btn2:focus {
                            box-shadow: none !important;
                            background-color: $color-1;
                        }

                        .btn3 {
                            color: $color-1;
                            background-color: transparent;
                            font-family: 'Pop-mediun';
                            font-size: 21px;
                            border: 2px solid $color-1;
                            border-radius: 20px;
                            padding: 17px 20px;
                            line-height: 26px;
                            letter-spacing: 0.01em;

                            img {
                                margin-right: 8px;
                            }
                        }

                    }

                }

            }
        }

    }

    footer {

        .footer__container {
            padding: 100px;
        }
    }

}



/* -------------------------------------------------------------------------- */
/*                                   Celular                                  */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 472px) {

    main {

        .background {
            background-size: center;
            background-position-x: -180px;
            height: 353px;

            .row {
                align-items: flex-start;
                flex-direction: column;
                height: 100%;
                padding-left: 16px;

                .paragraph {
                    display: flex;
                    align-items: center;
                    max-width: 250px;


                    .box {
                        max-width: 350px;
                        margin-top: 50px;
                        margin-left: 0px;

                        .p1 {
                            font-size: 21px;
                            line-height: 20px;
                        }

                        .p2 {
                            font-size: 14px;
                        }

                    }

                }

                .buttons {
                    display: flex;
                    justify-content: start;

                    .box {
                        display: flex;
                        flex-direction: column;

                        .btn2 {
                            font-size: 13px;
                            padding: 4px 29px;
                        }

                        .btn3 {
                            font-size: 13px;
                            padding: 4px 9px;
                            margin-top: 13px;

                            img {
                                width: 15px;
                                height: 13.26px;
                                margin-right: 3px;
                            }
                        }

                    }

                }

            }

        }

    }

}