$color-1: #233545;
$color-2: #22B6AF;
$color-3: #F4F4F4;

// Poppins medium
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100&display=swap');

// Gentium Book Plus
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@500&display=swap');

$size-m10: 10px;
$size-m21: 21px