$color-1: rgb(49, 53, 130);
$color-2: #22B6AF;
$box-shadowContainers: -1px 0px 50px 8px rgba(0,0,0,0.20);


@font-face {
    font-family: 'Pop-SemiBold';
    src: url(../poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Pop-ligth';
    src: url(../poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Pop-mediun';
    src: url(../poppins/Poppins-Medium.ttf);
}