@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100;500;600;700&family=Roboto:wght@300&display=swap");
@font-face {
  font-family: 'Pop-SemiBold';
  src: url(../poppins/Poppins-SemiBold.ttf); }

@font-face {
  font-family: 'Pop-ligth';
  src: url(../poppins/Poppins-Light.ttf); }

@font-face {
  font-family: 'Pop-mediun';
  src: url(../poppins/Poppins-Medium.ttf); }

.presentation2 {
  height: 400px; }
  .presentation2 .row {
    width: 100%; }
    .presentation2 .row .img-certificate .replaced-modified {
      position: relative;
      bottom: 37px;
      left: 200px;
      box-sizing: border-box;
      display: block;
      width: 512px;
      height: 319px;
      background: url(../img/2.1.png); }
    .presentation2 .row .paragraph {
      height: 300px;
      display: flex;
      margin-right: 100px;
      justify-content: center; }
      .presentation2 .row .paragraph .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 245px; }
        .presentation2 .row .paragraph .box .certificate {
          margin-bottom: 15px; }
        .presentation2 .row .paragraph .box p {
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 24px;
          line-height: 26px; }

@media screen and (max-width: 767px) {
  .presentation2 {
    height: 500px; }
    .presentation2 .row .img-certificate {
      max-height: 200px; }
      .presentation2 .row .img-certificate .replaced-modified {
        left: 60px;
        bottom: 30px;
        box-sizing: border-box;
        display: block;
        width: 400px;
        height: 259px;
        background: url(../img/2.1P.png); }
    .presentation2 .row .paragraph {
      justify-content: center;
      padding-left: 170px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .presentation2 {
    height: 550px; }
    .presentation2 .row .img-certificate {
      max-height: 250px; }
      .presentation2 .row .img-certificate .replaced-modified {
        left: 130px; }
    .presentation2 .row .paragraph {
      justify-content: center;
      padding-left: 200px; } }

@media screen and (min-width: 1024px) and (max-width: 1110px) {
  .presentation2 {
    height: 550px; }
    .presentation2 .row .img-certificate {
      max-height: 250px; }
      .presentation2 .row .img-certificate .replaced-modified {
        left: 250px; }
    .presentation2 .row .paragraph {
      justify-content: center;
      padding-left: 150px; } }
