@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100;400;500;600;700&family=Roboto:wght@300&display=swap");
@font-face {
  font-family: 'Pop-SemiBold';
  src: url(../poppins/Poppins-SemiBold.ttf); }

@font-face {
  font-family: 'Pop-Bold';
  src: url(../poppins/Poppins-Bold.ttf); }

@font-face {
  font-family: 'Pop-Regular';
  src: url(../poppins/Poppins-Regular.ttf); }

@font-face {
  font-family: 'Pop-ligth';
  src: url(../poppins/Poppins-Light.ttf); }

@font-face {
  font-family: 'Pop-mediun';
  src: url(../poppins/Poppins-Medium.ttf); }

@font-face {
  font-family: 'Roboto-regular';
  src: url(../roboto/Roboto-Regular.ttf); }

@font-face {
  font-family: 'Roboto-bold';
  src: url(../roboto/Roboto-Bold.ttf); }

.courses-1 {
  height: 1400px; }
  .courses-1 .bg {
    background-image: url("../img/courses1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 570px; }
  .courses-1 .our .paragraph {
    margin-top: 50px;
    margin-left: 250px;
    width: 550px; }
    .courses-1 .our .paragraph h2 {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 40px;
      color: #22B6AF; }
    .courses-1 .our .paragraph h3 {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 24px; }
    .courses-1 .our .paragraph p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      text-align: justify;
      margin: 0; }
  .courses-1 .our .box {
    display: flex;
    justify-content: center; }
    .courses-1 .our .box .categories {
      display: flex;
      flex-direction: column;
      max-width: 888px;
      margin-top: 50px; }
      .courses-1 .our .box .categories .category-1,
      .courses-1 .our .box .categories .category-2,
      .courses-1 .our .box .categories .category-3,
      .courses-1 .our .box .categories .category-4 {
        min-width: 888px;
        height: 79px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        margin-top: 15px; }
        .courses-1 .our .box .categories .category-1 .row .col,
        .courses-1 .our .box .categories .category-2 .row .col,
        .courses-1 .our .box .categories .category-3 .row .col,
        .courses-1 .our .box .categories .category-4 .row .col {
          display: flex;
          align-items: center;
          height: 79px; }
        .courses-1 .our .box .categories .category-1 .row .title p,
        .courses-1 .our .box .categories .category-2 .row .title p,
        .courses-1 .our .box .categories .category-3 .row .title p,
        .courses-1 .our .box .categories .category-4 .row .title p {
          margin: 0;
          font-family: 'Poppins';
          font-weight: 500;
          font-size: 18px;
          margin-left: 73px; }
        .courses-1 .our .box .categories .category-1 .row .col-view,
        .courses-1 .our .box .categories .category-2 .row .col-view,
        .courses-1 .our .box .categories .category-3 .row .col-view,
        .courses-1 .our .box .categories .category-4 .row .col-view {
          justify-content: end;
          font-family: 'Poppins';
          font-weight: 500;
          font-size: 17px; }
          .courses-1 .our .box .categories .category-1 .row .col-view .btn-view,
          .courses-1 .our .box .categories .category-2 .row .col-view .btn-view,
          .courses-1 .our .box .categories .category-3 .row .col-view .btn-view,
          .courses-1 .our .box .categories .category-4 .row .col-view .btn-view {
            margin-right: 82px;
            color: #22B6AF;
            border: none; }
          .courses-1 .our .box .categories .category-1 .row .col-view .btn-view:hover,
          .courses-1 .our .box .categories .category-2 .row .col-view .btn-view:hover,
          .courses-1 .our .box .categories .category-3 .row .col-view .btn-view:hover,
          .courses-1 .our .box .categories .category-4 .row .col-view .btn-view:hover {
            background-color: white;
            color: #233545; }
          .courses-1 .our .box .categories .category-1 .row .col-view .btn-view:focus,
          .courses-1 .our .box .categories .category-2 .row .col-view .btn-view:focus,
          .courses-1 .our .box .categories .category-3 .row .col-view .btn-view:focus,
          .courses-1 .our .box .categories .category-4 .row .col-view .btn-view:focus {
            box-shadow: none;
            background-color: white !important;
            color: #233545; }

@media screen and (max-width: 487px) {
  .courses-1 {
    height: 1000px;
    margin-top: 25px; }
    .courses-1 .bg {
      background-image: url("../img/courses1.png");
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 300px; }
    .courses-1 .our .paragraph {
      width: 250px !important;
      margin-left: 30px !important; }
      .courses-1 .our .paragraph h2 {
        font-weight: 600 !important;
        font-size: 17px !important; }
      .courses-1 .our .paragraph h3 {
        font-weight: 500 !important;
        font-size: 13px !important; }
      .courses-1 .our .paragraph p {
        font-weight: 400 !important;
        font-size: 13px !important;
        line-height: 12px !important; }
    .courses-1 .our .box .categories .category-1,
    .courses-1 .our .box .categories .category-2,
    .courses-1 .our .box .categories .category-3,
    .courses-1 .our .box .categories .category-4 {
      min-width: 280px !important; }
      .courses-1 .our .box .categories .category-1 .row .title,
      .courses-1 .our .box .categories .category-2 .row .title,
      .courses-1 .our .box .categories .category-3 .row .title,
      .courses-1 .our .box .categories .category-4 .row .title {
        max-width: 150px;
        padding: 0px;
        padding-left: 10px; }
        .courses-1 .our .box .categories .category-1 .row .title p,
        .courses-1 .our .box .categories .category-2 .row .title p,
        .courses-1 .our .box .categories .category-3 .row .title p,
        .courses-1 .our .box .categories .category-4 .row .title p {
          font-size: 12px !important;
          margin-left: 10px !important; }
      .courses-1 .our .box .categories .category-1 .row .col-view .btn-view,
      .courses-1 .our .box .categories .category-2 .row .col-view .btn-view,
      .courses-1 .our .box .categories .category-3 .row .col-view .btn-view,
      .courses-1 .our .box .categories .category-4 .row .col-view .btn-view {
        font-size: 12px;
        margin-right: 25px !important; } }

@media screen and (min-width: 488px) and (max-width: 767px) {
  .courses-1 .our .paragraph {
    width: 250px !important;
    margin-left: 30px !important; }
    .courses-1 .our .paragraph h2 {
      font-weight: 600 !important;
      font-size: 17px !important; }
    .courses-1 .our .paragraph h3 {
      font-weight: 500 !important;
      font-size: 13px !important; }
    .courses-1 .our .paragraph p {
      font-weight: 400 !important;
      font-size: 13px !important;
      line-height: 12px !important; }
  .courses-1 .our .box .categories .category-1,
  .courses-1 .our .box .categories .category-2,
  .courses-1 .our .box .categories .category-3,
  .courses-1 .our .box .categories .category-4 {
    min-width: 450px !important; }
    .courses-1 .our .box .categories .category-1 .row .title,
    .courses-1 .our .box .categories .category-2 .row .title,
    .courses-1 .our .box .categories .category-3 .row .title,
    .courses-1 .our .box .categories .category-4 .row .title {
      padding: 0px;
      padding-left: 10px; }
      .courses-1 .our .box .categories .category-1 .row .title p,
      .courses-1 .our .box .categories .category-2 .row .title p,
      .courses-1 .our .box .categories .category-3 .row .title p,
      .courses-1 .our .box .categories .category-4 .row .title p {
        font-size: 11px !important;
        margin-left: 10px !important; }
    .courses-1 .our .box .categories .category-1 .row .col-view .btn-view,
    .courses-1 .our .box .categories .category-2 .row .col-view .btn-view,
    .courses-1 .our .box .categories .category-3 .row .col-view .btn-view,
    .courses-1 .our .box .categories .category-4 .row .col-view .btn-view {
      font-size: 11px;
      margin-right: 25px !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .paragraph {
    margin-left: 110px !important; }
  .categories .category-1,
  .categories .category-2,
  .categories .category-3,
  .categories .category-4 {
    min-width: 600px !important; } }
