@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100;500;600;700&family=Roboto:wght@300&display=swap");
@font-face {
  font-family: 'Pop-SemiBold';
  src: url(../poppins/Poppins-SemiBold.ttf); }

@font-face {
  font-family: 'Pop-ligth';
  src: url(../poppins/Poppins-Light.ttf); }

@font-face {
  font-family: 'Pop-mediun';
  src: url(../poppins/Poppins-Medium.ttf); }

.presentation3 {
  background-color: #F4F4F4;
  height: 400px; }
  .presentation3 .row {
    flex-direction: row; }
    .presentation3 .row .paragraph {
      height: 300px;
      display: flex;
      margin-right: 100px;
      justify-content: center; }
      .presentation3 .row .paragraph .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        width: 340px; }
        .presentation3 .row .paragraph .box .classes {
          margin-bottom: 15px; }
        .presentation3 .row .paragraph .box p {
          font-family: 'Poppins';
          font-size: 18px; }
          .presentation3 .row .paragraph .box p span {
            font-weight: 900; }
    .presentation3 .row .img-classes .replaced-modified {
      position: relative;
      bottom: 40px;
      right: 70px;
      box-sizing: border-box;
      display: block;
      width: 494px;
      height: 305.25px;
      background: url(../img/3.1.png); }

@media screen and (max-width: 767px) {
  .presentation3 {
    height: 570px; }
    .presentation3 .row {
      flex-direction: column-reverse;
      width: 100%; }
      .presentation3 .row .img-classes .replaced-modified {
        left: 60px;
        box-sizing: border-box;
        display: block;
        width: 400px;
        height: 259px;
        background: url(../img/3.1.png); }
      .presentation3 .row .paragraph .box {
        width: 280px;
        height: 250px;
        justify-content: center;
        margin-right: 40px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .presentation3 {
    height: 570px; }
    .presentation3 .row {
      flex-direction: column-reverse;
      width: 100%; }
      .presentation3 .row .img-classes .replaced-modified {
        left: 140px; }
      .presentation3 .row .paragraph .box {
        width: 280px;
        height: 250px;
        margin-right: 100px; } }

@media screen and (min-width: 1024px) and (max-width: 1110px) {
  .presentation3 {
    height: 600px; }
    .presentation3 .row {
      flex-direction: column-reverse;
      width: 100%; }
      .presentation3 .row .img-classes .replaced-modified {
        left: 260px; }
      .presentation3 .row .paragraph .box {
        width: 280px;
        height: 250px;
        margin-right: 100px; } }
