@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Poppins:wght@100;600;700&family=Roboto:wght@300&display=swap");
@font-face {
  font-family: 'Pop-SemiBold';
  src: url(../poppins/Poppins-SemiBold.ttf); }

@font-face {
  font-family: 'Pop-ligth';
  src: url(../poppins/Poppins-Light.ttf); }

@font-face {
  font-family: 'Pop-mediun';
  src: url(../poppins/Poppins-Medium.ttf); }
